.frame {
    display: grid;
    grid-template-areas:
        ". month month month month month month month month month month month month"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board"
        "week board board board board board board board board board board board board";
    gap: 2px;
    align-items: center;
}

.weeks {
    font-size: .6em;
    grid-area: week;
}

.weeks p {
    margin: 0;
}

.months {
    font-size: .6em;
    display: flex;
    grid-area: month;
}

.board {
    display: grid;
    grid-template:  [Su] 1fr [Mo] 1fr [Tu] 1fr [We] 1fr [Th] 1fr [Fr] 1fr [Sa] 1fr / repeat(53, 10px);
    grid-auto-flow: column;
    gap: 2px;
    align-items: center;
    grid-area: board;
}

.rect {
    width: 10px;
    height: 10px;
    background-color: rgb(199, 197, 197);
}

.weekDaySu {
    grid-row-start: Su;
}

.weekDayMo {
    grid-row-start: Mo;
}

.weekDayTu {
    grid-row-start: Tu;
}

.weekDayWe {
    grid-row-start: We;
}

.weekDayTh {
    grid-row-start: Th;
}

.weekDayFr {
    grid-row-start: Fr;
}

.weekDaySa {
    grid-row-start: Sa;
}

